/* HEADER */

header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: end;
  justify-content: start;
}

nav {
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-bottom: 11px;
}

nav a {
  font-family: var(--font-body);
  font-weight: var(--fw-bold);
  font-size: var(--fs-body-extra);
  text-decoration: none;
  color: var(--clr-black);
}

.current-page {
  text-decoration: underline;
}

.hover-underline:hover {
  text-decoration: underline;
}

.menu-icon,
.hide-tickets,
#checkbox {
  display: none;
}

/* FOOTER */

footer {
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.footer-text {
  text-align: center;
}

.contact-button {
  font-size: var(--fs-h3);
  font-family: var(--font-header);
  font-weight: var(--fw-black);
  min-height: 100%;
  padding: 0px 18px;
  width: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-mini {
  width: 162px;
  padding-left: 10px;
}

.socials-mini div {
  padding: 2px;
}


@media screen and (max-width: 960px){

  /* header*/

  header {
    height: 72px;
  }

  .home-link {
    max-height: 72px;
  }

  .logo {
    height: 72px;
  }

  .menu-icon {
    display: flex;
    padding-bottom: 8px;
  }

  input[type="checkbox"]:checked ~ nav a {
    display: flex;
  }

  input[type="checkbox"]:checked ~ nav {
    border-bottom: 2px solid var(--clr-black);
  }

  input[type="checkbox"]:checked ~ .rotate-icon {
    transform: rotate(90deg);
  }

  nav {
    position: absolute;
    left: 0px;
    top: 72px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }

  nav a,
  .hide-tickets {
    display: none;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
  }

  .turn-yellow {
    background-color: var(--clr-med-yellow);
  }

  .turn-orange {
    background-color: var(--clr-light-orange);
  }

  .turn-green {
    background-color: var(--clr-light-green);
  }

  .turn-blue {
    background-color: var(--clr-light-blue);
  }

  .turn-purple {
    background-color: var(--clr-light-purple);
  }

  /* footer */

  .contact-button {
    width: 129px;
    font-size: var(--fs-body-extra);
  }
}

@media screen and (max-width: 840px){

  /* footer */

  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min-content;
  }

  .socials-mini {
    height: 50px;
    align-items: end;
    justify-content: center;
  }

  .contact-button {
    width: 100%;
    height: 60px;
  }
}