:root {
  --clr-white: #ffffff;
  --clr-light-grey: #e2e2e2;
  --clr-med-grey: #878787;
  --clr-black: #000000;
  --clr-light-red: #ff8b8b;
  --clr-med-red: #e75457;
  --clr-dark-red: #d95b72;
  --clr-light-orange: #fec898;
  --clr-med-orange: #ff9a56;
  --clr-dark-orange: #e67f0d;
  --clr-light-yellow: #ffeb9c;
  --clr-med-yellow: #ffda72;
  --clr-dark-yellow: #ffc122;
  --clr-light-green: #a7f0ae;
  --clr-med-green: #57c081;
  --clr-dark-green: #3aa477;
  --clr-light-blue: #b6f6ff;
  --clr-med-blue: #6fb7de;
  --clr-dark-blue: #197bbd;
  --clr-light-purple: #d9b7e9;
  --clr-med-purple: #d57aff;
  --clr-dark-purple: #a246fa;

  --font-header: "Urbanist", sans-serif;
  --font-body: "Manjari", sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;
  --fw-black: 800;

  --fs-h1: 64px;
  --fs-h2: 36px;
  --fs-h3: 32px;
  --fs-body-extra: 24px;
  --fs-body: 20px;
  --fs-body-mobile: 16px;
}

/* UNIVERSAL*/

.light-red {
  background-color: var(--clr-light-red);
}

.med-red {
  background-color: var(--clr-med-red);
}

.dark-red {
  background-color: var(--clr-dark-red);
}

.light-orange {
  background-color: var(--clr-light-orange);
}

.med-orange {
  background-color: var(--clr-med-orange);
}

.dark-orange {
  background-color: var(--clr-dark-orange);
}

.light-yellow {
  background-color: var(--clr-light-yellow);
}

.med-yellow {
  background-color: var(--clr-med-yellow);
}

.dark-yellow {
  background-color: var(--clr-dark-yellow);
}

.light-green {
  background-color: var(--clr-light-green);
}

.med-green {
  background-color: var(--clr-med-green);
}

.dark-green {
  background-color: var(--clr-dark-green);
}

.light-blue {
  background-color: var(--clr-light-blue);
}

.med-blue {
  background-color: var(--clr-med-blue);
}

.dark-blue {
  background-color: var(--clr-dark-blue);
}

.light-purple {
  background-color: var(--clr-light-purple);
}

.med-purple {
  background-color: var(--clr-med-purple);
}

.dark-purple {
  background-color: var(--clr-dark-purple);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 100px;
}

a {
  text-decoration: none;
  color: black;
  font-family: var(--font-body);
}

p,
address,
.open-today p {
  font-family: var(--font-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
  color: var(--clr-black);
  margin: 18px;
  text-decoration: none;
}

h1,
h2,
.big-button {
  font-size: var(--fs-h1);
  font-family: var(--font-header);
  color: var(--clr-white);
  font-weight: var(--fw-black);
}

h3,
.button,
.same-as-h3,
.button-top {
  margin: 18px;
  font-size: var(--fs-h3);
  font-family: var(--font-header);
  color: var(--clr-black);
  font-weight: var(--fw-black);
}

h4,
label {
  font-size: var(--fs-body-extra);
  font-family: var(--font-body);
  font-weight: var(--fw-bold);
  color: var(--clr-black);
  margin: 18px;
}

.button,
.big-button,
.button-top {
  padding: 12px;
  text-decoration: none;
  width: fit-content;
  box-shadow: 4px 6px 4px hsla(0, 0%, 0%, 0.25);
}

.open-today {
  text-decoration: none;
  width: 220px;
  height: 170px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: 5;
  right: 26px;
  top: 26px;
  box-shadow: 4px 6px 4px hsla(0, 0%, 0%, 0.25);
}

.open-today h3 {
  padding-bottom: 15px;
  margin: 0px;
}
.open-today p {
  margin: 0px;
  padding: 0px;
}

.button-top {
  color: var(--clr-white);
  box-shadow: 4px 6px 4px hsla(0, 0%, 0%, 0.5);
}

table,
.open-today p {
  font-family: var(--font-body);
  font-size: var(--fs-body-extra);
  font-weight: var(--fw-bold);
}

.small-text {
  font-size: var(--fs-body-mobile);
}

.black-text {
  color: var(--clr-black);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

label {
  margin: 6px;
}

input {
  height: 36px;
  width: 320px;
  padding: 4px 6px;
  font-size: var(--fs-body);
  font-family: var(--font-body);
}

table,
.contact-info {
  max-width: 340px;
}

td {
  padding: 10px;
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.centered-text {
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.bit {
  margin-bottom: 20px;
}

.big-bit {
  margin-bottom: 40px;
}

.full-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  margin: 40px 0px;
}

.link-style {
  color: var(--clr-dark-purple);
  font-size: var(--fs-body-extra);
  font-family: var(--font-body);
  text-decoration: underline;
  margin: 18px 0px;
  width: max-content;
}

.home-link {
  max-height: 100px;
}

/* HEADER */

header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: end;
  justify-content: start;
}

nav {
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-bottom: 11px;
}

nav a {
  font-family: var(--font-body);
  font-weight: var(--fw-bold);
  font-size: var(--fs-body-extra);
  text-decoration: none;
  color: var(--clr-black);
}

.current-page {
  text-decoration: underline;
}

.hover-underline:hover {
  text-decoration: underline;
}

.menu-icon,
.hide-tickets,
#checkbox {
  display: none;
}

/* FOOTER */

footer {
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.footer-text {
  text-align: center;
}

.contact-button {
  font-size: var(--fs-h3);
  font-family: var(--font-header);
  font-weight: var(--fw-black);
  min-height: 100%;
  padding: 0px 18px;
  width: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-mini {
  width: 162px;
  padding-left: 20px;
}

.socials-mini div {
  padding: 2px;
}

/* HOME */

#welcome-explorers {
  background-image: url(/images/index-images/welcome-blob.svg);
  max-width: 840px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

#welcome-explorers h1,
#welcome-explorers h4 {
  max-width: 600px;
  padding: 0px 70px;
  color: white;
}

#its-fun {
  background-image: url(/images/index-images/exhibits-blob.svg);
  background-repeat: no-repeat;
  max-width: 770px;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#its-fun h2,
#its-fun p {
  max-width: 540px;
  margin: 10px 70px;
}

#its-fun h2 {
  font-family: var(--font-body);
  font-size: var(--fs-h2);
  color: var(--clr-black);
  text-align: center;
}

/* BANNERS */

/* join the squad */

.join-the-squad {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
}

.join-the-squad-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
}

.join-the-squad h2 {
  color: var(--clr-black);
}

.join-the-squad p {
  font-size: var(--fs-body-extra);
  margin: 0px;
}

.join-the-squad img {
  width: 50%;
  max-width: 600px;
  padding-left: 40px;
  object-fit: cover;
}

/* want more */

.want-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.social-display {
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.social-display div {
  gap: 20px;
}

.social-box {
  width: 254px;
  height: 254px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.25);
  background-blend-mode: overlay;
}

.social-box:hover {
  background-color: hsla(0, 0%, 0%, 0);
}

.social-box img {
  width: 112px;
  background-position: cover;
  background-repeat: no-repeat;
}

.tiktok-bg {
  background-image: url(/images/index-images/tiktok-background.png);
}

.instagram-bg {
  background-image: url(/images/index-images/instagram-background.png);
}

.facebook-bg {
  background-image: url(/images/index-images/facebook-background.png);
}

.youtube-bg {
  background-image: url(/images/index-images/youtube-background.png);
}

.tiktok-bg:hover,
.instagram-bg:hover,
.facebook-bg:hover,
.youtube-bg:hover {
  background-size: 115%;
  background-position: center;
}

/* sign up */

.sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 22px 40px 40px;
}

.sign-up div {
  max-width: 600px;
  line-height: 50px;
}

.sign-up form {
  padding: 40px;
  gap: 20px;
  justify-content: center;
  align-items: start;
}

.sign-up a {
  margin: 0px;
}

/* full bars */

.save-15 p {
  font-size: var(--fs-h2);
  margin: 0px 40px 20px;
}

.young-person-looking p {
  font-size: var(--fs-body-extra);
  max-width: 700px;
  text-align: center;
  margin: 0px;
}

/* CARDS */

.tiny-card-box {
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tiny-card {
  width: 420px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  align-items: center;
}

.small-card {
  width: 600px;
  height: 100%;
  padding: 18px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-items: center;
}

.med-card {
  width: 1132px;
  margin: 0px auto;
  padding: 18px;
  display: flex;
  flex-direction: row;
}

.med-card img,
.big-card img {
  object-fit: cover;
}

.med-card-text,
.big-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.big-card-text{
  flex-direction: row;
  align-items: flex-start;
}

.big-card-text h3{
  min-width: 22%;
}

.big-card{
  width: 1132px;
  margin: 0px auto;
  padding: 18px;
  display: flex;
  flex-direction: column;
}

.flex-reverse {
  flex-direction: row-reverse;
}

/* VISIT */

.title-box-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  height: 210px;
  margin: 40px 0px;
}

.title-box-secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  gap: 40px;
}

.field-trips-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 474px;
  height: 235px;
  background-position: center;
  background-size: cover;
  background-image: url(/images/visit-images/field-trips-blob.svg);
}

.visitor-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info-down {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: end;
  max-width: 540px;
}

.explore-arrow-down {
  padding-top: 42px;
}

.visit-us-box,
.for-kids-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.visit-us-box {
  width: 385px;
  height: 212px;
  background-image: url(/images/visit-images/visit-blob.svg);
}

.for-kids-box {
  width: 448px;
  height: 228px;
  background-image: url(/images/explore-images/for-kids-blob.svg);
  margin-right: 20px;
}

.address-box {
  justify-content: start;
}

.address {
  margin: 12px 18px 6px;
}

.contact-us {
  justify-content: center;
  align-items: start;
  margin: 0px;
  height: 936px;
  gap: 40px;
}

.info-down h3 {
  margin: 0px;
}

.big-box {
  max-width: 1092px;
  display: flex;
  flex-direction: column;
  margin: 0px auto 60px;
  padding: 40px 40px 0px 40px;
}

.big-box img {
  object-fit: cover;
}

.big-box-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 0px 40px;
}

.big-box-text h3 {
  margin-top: 0px;
}

.bigger-table {
  min-width: 600px;
}

.bigger-table td {
  min-width: 300px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1220px) {
  /* universal */

  p {
    font-size: var(--fs-body-mobile);
    margin: 12px;
  }

  table,
  .open-today p,
  h4 {
    font-size: var(--fs-body);
    margin: 12px;
  }

  h3,
  .button,
  .same-as-h3,
  .button-top {
    margin: 12px;
    font-size: var(--fs-body-extra);
  }

  .open-today {
    text-decoration: none;
    width: 150px;
    height: 100px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: top;
    text-align: center;
    position: absolute;
    z-index: 5;
    right: 26px;
    top: 26px;
    box-shadow: 4px 6px 4px hsla(0, 0%, 0%, 0.25);
  }

  .open-today h3 {
    font-size: var(--fs-body);
    padding: 6px 0px;
    margin: 0px;
  }
  .open-today p {
    margin: 0px;
    padding: 0px;
  }

  .button-top {
    font-size: var(--fs-body);
    padding: 4px;
    margin: 0px;
    box-shadow: 4px 6px 4px hsla(0, 0%, 0%, 0.5);
  }

  .link-style {
    font-size: var(--fs-body);
    margin: 12px 0px;
  }

  .address-box p {
    font-size: var(--fs-body);
  }

  .address {
    font-size: var(--fs-body);
    margin: 12px 12px 6px;
  }

  .contact-us {
    flex-wrap: wrap;
    height: min-content;
  }

  .tiny-card {
    width: 354px;
  }

  .small-card {
    width: 354px;
  }

  .small-card img {
    width: 322px;
    margin: none;
  }

  .med-card {
    width: 820px;
  }

  .med-card img{
    max-width: 535px;
  }

  .big-card{
    width: 820px;
  }

  .big-box {
    max-width: 820px;
  }

  .big-box-text {
    padding: 0px 18px;
  }

  .bigger-table {
    min-width: 300px;
  }

  .bigger-table td {
    min-width: 150px;
  }

  .centered {
    margin: 0px 40px;
    text-align: center;
  }
}

@media screen and (max-width: 960px) {
  /* universal */

  main {
    padding-top: 80px;
  }

  p {
    font-size: var(--fs-body-mobile);
    margin: 12px;
  }

  table,
  h4 {
    font-size: var(--fs-body);
    margin: 12px;
  }

  h3,
  .button,
  .same-as-h3 {
    margin: 12px;
    font-size: var(--fs-body-extra);
  }

  .link-style {
    font-size: var(--fs-body);
    margin: 12px 0px;
  }

  .address {
    font-size: var(--fs-body);
    margin: 12px 12px 6px;
  }

  .contact-us {
    flex-wrap: wrap;
    height: min-content;
  }

  .info-down h3 {
    font-size: var(--fs-body);
  }

  /* header*/

  header {
    height: 72px;
  }

  .home-link {
    max-height: 72px;
  }

  .logo {
    height: 72px;
  }

  .menu-icon {
    display: flex;
    padding-bottom: 8px;
  }

  nav a,
  .hide-tickets {
    display: none;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
  }

  input[type="checkbox"]:checked ~ nav a {
    display: flex;
  }

  input[type="checkbox"]:checked ~ nav {
    border-bottom: 2px solid var(--clr-black);
  }

  input[type="checkbox"]:checked ~ .rotate-icon {
    transform: rotate(90deg);
  }

  nav {
    position: absolute;
    left: 0px;
    top: 72px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }

  .turn-yellow {
    background-color: var(--clr-med-yellow);
  }

  .turn-orange {
    background-color: var(--clr-light-orange);
  }

  .turn-green {
    background-color: var(--clr-light-green);
  }

  .turn-blue {
    background-color: var(--clr-light-blue);
  }

  .turn-purple {
    background-color: var(--clr-light-purple);
  }

  /* footer */

  .contact-button {
    width: 129px;
    font-size: var(--fs-body-extra);
  }
}

@media screen and (max-width: 840px) {
  .open-today {
    height: 84px;
    width: 126px;
    right: 12px;
    top: 12px;
  }

  .open-today p {
    font-size: var(--fs-body-mobile);
  }

  .button-top,
  .open-today h3 {
    font-size: var(--fs-body-mobile);
  }

  .button-top {
    margin-bottom: 10px;
  }

  .title-box-primary {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: min-content;
    margin: 20px 20px 40px;
  }

  .title-box-secondary {
    gap: 20px;
  }

  .visit-us-box {
    width: 231px;
    height: 126px;
    margin-right: 90px;
  }

  .title-box-secondary img {
    height: 77px;
    width: 77px;
  }

  .field-trips-box {
    width: 222px;
    height: 110px;
  }

  .info-down {
    padding-top: 18px;
  }

  .info-down img {
    height: 35px;
    width: 35px;
  }

  h3,
  .button,
  .same-as-h3 {
    font-size: var(--fs-body);
  }

  .save-15 p {
    font-size: var(--fs-body-extra);
    margin-bottom: 20px;
  }

  h1,
  h2,
  .big-button {
    font-size: var(--fs-h2);
  }

  .med-card {
    flex-direction: column-reverse;
    width: 100%;
    max-width: 600px;
    padding: 0px;
    margin-bottom: 40px;
  }

  .med-card img,
  .big-card img {
    max-width: 600px;
    max-height: 400px;
  }

  .big-card{
    width: 100%;
    min-width: 600px;
    margin: 0px auto 40px;
    padding: 18px;
    display: flex;
    flex-direction: column;
  }



  .med-card-text {
    margin: 0px;
    padding: 12px;
  }

  .big-box {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0px auto 40px;
    padding: 0px;
  }

  .big-box img {
    max-height: 400px;
    object-fit: cover;
    object-position: top;
  }

  .field-trip-text {
    flex-direction: column;
  }

  .big-box-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 40px 18px;
  }

  .bigger-table {
    max-width: 500px;
    margin: 0px;
  }

  .bigger-table td {
    width: auto;
  }

  /* footer */

  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min-content;
  }

  .socials-mini {
    height: 50px;
    align-items: end;
    justify-content: center;
  }

  .contact-button {
    width: 100%;
    height: 60px;
  }
}
